In [1]:
import re
import sys
from nltk.stem.porter import PorterStemmer
import pandas as pd
import urllib
import luigi
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
import operator
import pickle

In [37]:
cleaned_data.isnull().sum()

Target              0
TweetId             0
DateTime            0
Flag                0
User                0
Processed_Tweets    0
dtype: int64

In [4]:
data.head()

,Target,TweetId,DateTime,Flag,User,Tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [16]:
data.columns.tolist()

['Target', 'TweetId', 'DateTime', 'Flag', 'User', 'Tweet']

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
Target      1600000 non-null int64
TweetId     1600000 non-null int64
DateTime    1600000 non-null object
Flag        1600000 non-null object
User        1600000 non-null object
Tweet       1600000 non-null object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [11]:
data.isnull().sum()

Target      0
TweetId     0
DateTime    0
Flag        0
User        0
Tweet       0
dtype: int64

In [12]:
data.Target.value_counts()

4    800000
0    800000
Name: Target, dtype: int64

In [13]:
data.User.value_counts()[:10]

lost_dog           549
webwoke            345
tweetpet           310
SallytheShizzle    281
VioletsCRUK        279
mcraddictal        276
tsarnick           248
what_bugs_u        246
Karen230683        238
DarkPiano          236
Name: User, dtype: int64

In [15]:
data.Tweet.value_counts()[:10]

isPlayer Has Died! Sorry                                                                          210
good morning                                                                                      118
headache                                                                                          115
Good morning                                                                                      112
Headache                                                                                          106
 cant afford to see Angels and Demons, so i watched it for free: http://tr.im/lvBu                 86
Not to worry, noone got that one. Next question starts in 1 minute, get your thinking caps on      86
Goodnight                                                                                          85
my tummy hurts                                                                                     81
Jogging, isnt REALLY that cool, especially if you've got a fever                                   80
Name: Tweet, dtype: int64